<% provide(:title, t('home')) %>

<div class="row">
  <div class="large-12 columns large-centered text-center">
    <h2>Datical License Key Manager</h2>
  </div>
</div>

<br/>
<%= get_EvaluationLicense_Counts() %>
<div class="row">
  <div class="small-2 large-4 columns">
    <ul class="your-pricing-class">
      <li class="your-title-class">Total Evaluations</li>
      <li class="your-price-class"><%= @evalCount %></li>
    </ul>
  </div>
  <div class="small-4 large-4 columns">
    <ul class="your-pricing-class">
      <li class="your-title-class">Current Evaluations</li>
      <li class="your-price-class"><%= @evalCount - @expiredEvals %></li>
    </ul>
  </div>
  <div class="small-4 large-4 columns">
    <ul class="your-pricing-class">
      <li class="your-title-class">Expired Evaluations</li>
      <li class="your-price-class"><%= @expiredEvals %></li>
    </ul>
  </div>
  <div class="small-4 large-4 columns">
    <ul class="your-pricing-class">
      <li class="your-title-class">Subscription</li>
      <li class="your-price-class"><%= @subsCount %></li>
    </ul>
  </div>
  <div class="small-6 large-4 columns">
    <ul class="your-pricing-class">
      <li class="your-title-class">Perpetual</li>
      <li class="your-price-class"><%= @perpCount %></li>
    </ul>
  </div>
  
</div>

<div class="row">
  <div class="large-12 columns large-centered text-center">

    <% if logged_in? %>
      <%= link_to t('logout'), logout_path, class: "button small round radius success", method: "delete" %>
      <br>
      <%= link_to current_user.email, edit_user_path(current_user) %>
    <% else %>
      <%= link_to t('login'), login_path, class: "button small round radius success" %>
    <% end %>   

  </div>
</div>
