<% provide(:title, t('user_login')) %>
<h3><%= yield(:title) %></h3>

<div class="row">
  <div class="large-12 columns large-centered">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, t('user_email') %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password, t('user_password') %>
      <%= f.password_field :password %>

      <%= f.submit t('btn_login'), class: "button round radius success small" %>
    <% end %>

  </div>
</div>
